/*
Red         #F44336        
Deep orange #FF5722    
Orange      #FF9800    
Amber       #FFC107
Yellow      #FFEB3B        
Lime        #CDDC39        
Green       #8BC34A        
Dark green  #4CAF50
Teal        #009688        
Cyan        #00BCD4        
Blue        #03A9F4        
Dark blue   #2196F3
Indigo      #3F51B5        
Deep Purple #673AB7    
Purple      #9C27B0    
Magenta     #E91E63
Blue gray   #607D8B
Dark        #343A40
*/
/*///////////////////////////////////////*/
.scrollspySite{
    position: relative; 
    overflow: auto;
    height: 367px;
}

.carouselSite{
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.imagemCard{
    height: 300px;
}

.list-group-item.active.scrollspy-item{
  z-index: 2;
  color: #fff;
  background-color: #ffd016;
  border-color: #ffd016;
}
/*/////////////////////////////////////*/
.bg-null{
    background: rgba(0,0,0,0);
}

.borderless{
    border: none;
}

.list-group-item.list-group-item-action{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item.list-group-item-action.active{
    color: #fff;
    background-color: #343A40;
    border-color: #343A40;
}

.list-group-item.list-group-item-action.email{
    cursor: pointer;
}

.inline{
    display: inline;
}

.pillMail{
    color: #f8f9fa;
    background-color: #343a40;
}

.pillMail:hover{
    color: #343a40;
    background-color: #f8f9fa;
}

.icon-menu:hover{
    background-color: rgba(125, 125, 125, 0.2);
    border-radius: 2.5px;
    cursor: pointer;
}

.centerY{
    margin-top: auto;
    margin-bottom: auto;
}

.centerX{
    margin-left: auto;
    margin-right: auto;
}

.center{
    margin: auto;
}

.bg-selected{
    background-color: #e9ecef;
    border-color: #dee2e6;
}

#titulo-contas{
    background-color: #FFEB3B;
    border-radius: 0;
    
}

#titulo-pastas{
    background-color: #FFEB3B;
    border-radius: 0;
}

.bg-navbar{
    background-color: #FFEB3B;
}

.texto-limitado{
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.titulo-nav-limitado{
    max-width: 7ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.btn-outline-amarelo {
  color: #343A40;
  border-color: #FFEB3B;
}

.btn-outline-amarelo:hover {
  color: #212529;
  background-color: #FFEB3B;
  border-color: #FFEB3B;
}

.btn-outline-amarelo:focus, .btn-outline-amarelo.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 235, 59, 0.5);
}

.btn-outline-amarelo.disabled, .btn-outline-amarelo:disabled {
  color: #FFEB3B;
  background-color: transparent;
}

.btn-outline-amarelo:not(:disabled):not(.disabled):active, .btn-outline-amarelo:not(:disabled):not(.disabled).active,
.show > .btn-outline-amarelo.dropdown-toggle {
  color: #212529;
  background-color: #FFEB3B;
  border-color: #FFEB3B;
}

.btn-outline-amarelo:not(:disabled):not(.disabled):active:focus, .btn-outline-amarelo:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-amarelo.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 235, 59, 0.5);
}

.main-row{
    height: 58px;
}

.item-conta{
    width: inherit;
}

.absolute{
    position: absolute;
}

.badge{
    border-radius: 40%;
}

.checkbox:hover{
    background-color: rgba(125, 125, 125, 0.2);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.checkbox{
    padding: 4px;
}

.username{
    width: 20%;
    max-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    margin-bottom: 0;
}

.assunto{
    max-width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    margin-bottom: 0;
}

.conteudo{
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-flex;
    margin-bottom: 0;
}

.imagem-carousel{
    width: 101vw; 
    height: 101vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-entrar{
    width: 10%;
}

.body-contato{
    background: url('../img/Jellyfish1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.body-sobre{
    background: url('../img/Water1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}