.scrollspySite{
    position: relative; 
    overflow: auto;
    height: 367px;
}

.carouselSite{
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.imagemCard{
    height: 300px;
}

.list-group-item.active.scrollspy-item{
  z-index: 2;
  color: #fff;
  background-color: #ffd016;
  border-color: #ffd016;
}

.bg-null{
    background: rgba(0,0,0,0);
}

.borderless{
    border: none;
}

.inline{
    display: inline;
}